.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

 input.login[type=text],input.login[type=password],input.login[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 5px 5px 5px 5px;
  }

  input.login[type=button], input.login[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    width:100%;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 5px 10px 5px;
  }

  .pozadina{
    background-image: url(https://img.freepik.com/free-photo/fading-blue-background_53876-88684.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  input.unos[type=text] ,textarea.unos{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 20%;
    border: 2px solid #000000;
    border-radius: 5px 5px 5px 5px;
  }

  h3,h1,p,h2 {
    margin: 5px 5px 5px 5px;
    color :white;
  }
  